[Unit]
Description=AmneziaWG interface %i
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=WG_QUICK_USERSPACE_IMPLEMENTATION=/usr/local/bin/amneziawg-go
ExecStart=/usr/local/bin/awg-quick up /etc/amnezia/amneziawg/%i.conf
ExecStop=/usr/local/bin/awg-quick down /etc/amnezia/amneziawg/%i.conf
ExecReload=/bin/bash -c '/usr/local/bin/awg-quick down /etc/amnezia/amneziawg/%i.conf; /usr/local/bin/awg-quick up /etc/amnezia/amneziawg/%i.conf'

[Install]
WantedBy=multi-user.target